$font-stack: Stranger back in the Night, sans-serif;
$primary-font-color: red;

// * {
//   border: 2px dashed green;
// }

body {
  color: $primary-font-color;
  background-image: url("../assets/images/forest-bg.jpg");
  background-size: cover;
}

.main-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 26% 48% 26%;
  grid-template-rows: 10% 1fr 1fr;
  .heading {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  h3{
    text-align: center;
    font: 100% $font-stack;
    font-size: 2em;
  }

#demo{
    font: 100% $font-stack;
    text-align: center;
    color: white;
    font-size: 8em;
    grid-column-start: 2;
    grid-row-start: 3;
  }
}

h1 {
  font: 100% $font-stack;
  font-size: 10em;
  margin-bottom: -2%;

}

.fas{
  color: white;
  margin: 20px 0 0 20px;
}

i:hover {
  color: red;
  cursor: crosshair;
}

span:hover {
  color: red;
  cursor: crosshair;
}

.navbar-hidden{
  // background-color: rgba(56, 56, 56, .5);
  grid-row-start: 2;
  display: flex;
  max-width: 300px;
  display: none;
  flex-direction: column;
  font: 100% "Scare Arms";
  text-align: center;
  color: white;
  font-size: 6em;
}

@media screen and (max-width: 1200px) {
  .navbar-hidden {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 3em;
    min-width: 100%;
  }
  span {
    margin: 10px;
  }
  .navbar{
    display: none;
  }
}
