$font-stack: Stranger back in the Night, sans-serif;
$primary-font-color: red;

*{
  padding: 0;
  margin: 0;
}

body {
  color: $primary-font-color;
  font-size: calc(100% + -.2vw);
}

.container{
  background-image: url("../assets/images/forrest-bg-picture.jpeg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.main-grid {
  display: grid;
  justify-content: center;
  height: 100%;
  align-items: center;
  grid-template-columns: 26% 48% 26%;
  grid-template-rows: 10% 1fr 1fr;
  .heading {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  h3{
    text-align: center;
    font: 100% "who asks satan";
    font-size: 2em;
  }

.countDown{
    font: 100% $font-stack;
    text-align: center;
    color: white;
    font-size: 8em;
    grid-column-start: 2;
    grid-row-start: 3;
    margin: 100px 0 0  0;
  }
}

h1 {
  font: 100% $font-stack;
  font-size: 10rem;
  margin-bottom: -2%;

}

.fas{
  color: white;
  margin: 20px 0 0 20px;
}

i:hover {
  color: red;
  cursor: crosshair;
}

span:hover {
  color: red;
  cursor: crosshair;
}

.navbar-hidden{
  // background-color: rgba(56, 56, 56, .5);
  grid-row-start: 2;
  display: flex;
  max-width: 300px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  font: 100% "Scare Arms";
  text-align: center;
  color: white;
  font-size: 5em;
  img{
    width: 50px;
  }
}

span{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px;
}

.platform {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid white;
}

.background-image{
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .navbar-hidden {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 3em;
    min-width: 100%;
  }
  span {
    margin: 10px;
  }
  .navbar{
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .container {
    background-image: url("../assets/images/forrest-bg-mobile.jpg");
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .heading {
    margin-bottom: -5%;
    margin-left: auto;
    margin-right: auto;
  }
  .countDown {
    img{
      width: 30px;
      height: 30px;
    }
  }

#demo{
  font-size: 5rem;
  margin: 45px 0 0 0;
}

  .navbar-hidden {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/ span 3;
    flex-direction: row;
    margin-top: 25px;
  }
}

// @media screen and (max-width: 350px) {
//   .heading {
//     grid-column-start: 1/ span 3;
//   }
// }
